// Main.less
// ------------------------------------------
// Main Stylesheet for Scholarship Graph demo

@import "bootstrap/reset.less";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/utilities.less";
@import "bootstrap/type.less";
@import "bootstrap/scaffolding.less";
@import "bootstrap/grid.less";
@import "bootstrap/layouts.less";
@import "bootstrap/code.less";
@import "bootstrap/buttons.less";


// Variable Overrides
// ------------------

// stuff


// Graph Styling
// -------------

.graph {
    margin: 20px 0;
    text-align: center;

    &.active {
        text-align: left;
        border: 1px solid @grayLighter;
    }

    .edge {
        .transition(stroke .15s linear);
        fill: none;
        stroke: @grayLight;
        stroke-width: 1px;
    }

    .vcircle {
        .transition(fill .15s linear);
        stroke: none;
        fill: @linkColor;
    }

    .vlabel {
        .transition(fill .15s linear);
        fill: @textColor;
        font-size: 10px;
    }
}

